{% extends "base.html" %}

{% block content %}
    <h1>{{object}}
        <span class="pull-right">
            <a href="#">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil">Editar</span>
                </button>
            </a>
            <a href="{% url 'clientes:clientes_list' %}" class="btn btn-danger">Voltar</a>
            <a href="{% url 'clientes:cliente_delete' object.pk %}" class="btn btn-danger">Delete</a>
        </span>
    </h1>

    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Nome</th>
                    <td>{{object.cliente}}</td>
                </tr>
                <tr>
                    <th class="text-right">Tipo de Cliente</th>
                    <td>{{object.tipo}}</td>
                </tr>
                <tr>
                    <th class="text-right">Telefone</th>
                    <td>{{object.telefone}}</td>
                </tr>
                <tr>
                    <th class="text-right">E Mail</th>
                    <td>{{object.email}}</td>
                </tr>
                <tr>
                    <th class="text-right">Endereço</th>
                    <td>{{object.endereco}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

