{% extends "base.html" %}

{% block content %}
    <h1>{{object}}
        <span class="pull-right">
            <a href="{% url 'produto:produto_edit' object.pk %}">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil">Editar</span>
                </button>
            </a>
            <a href="{% url 'produto:produto_list' %}" class="btn btn-warning">Voltar</a>
            <a href="{% url 'produto:produto_delete' object.pk %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</a>
        </span>
    </h1>

    <div class="col-sm-6">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Importado</th>
                    <td>
                        {% if object.importado %}
                            <i class="fa fa-check-circle ok"></i>
                        {% else %}
                            <i class="fa fa-check-circle no"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="text-right">NF</th>
                    <td>{{object.ncm}}</td>
                </tr>
                <tr>
                    <th class="text-right">Preço</th>
                    <td>{{object.preco}}</td>
                </tr>
                <tr>
                    <th class="text-right">Estoque</th>
                    <td>{{object.estoque}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

