{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
      <form method="POST" enctype="multipart/form-data">
          <h5>Campos do produto:</h5>
        {% csrf_token %}
        <input name="myfile" type="file" />
          <div class="form-inline buttons">
              <a href="{% url 'produto:produto_list' %}" class="btn btn-danger">
                <i class="fa fa-times"></i>
                Cancelar
              </a>
              <div style="padding: 10px;">
                <button type="submit" class="btn btn-success">Upload</button>
              </div>
          </div>
      </form>
{% endblock content %}

